.card{
  background-color: #fff;
  opacity: 1;
  box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);
  margin-top: 2rem;
}
.cardHeader{
  background-color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
}
.cardBody{
  background-color: #fff;
  font-size: 1.4rem
}
.cardFooter{
  position: relative;
  background-color: rgb(34, 34, 34);
  border-top: 1px solid white;
}
.typeIcon{
  margin-left: auto;
}
.projectItem{
  margin-bottom: 2rem;
  border-radius:.5rem;
  overflow: hidden;
  box-shadow: .5rem .5rem .5rem black;
}
.cardLeft{
  display: flex;
}
.cardLeft img{
  margin: 0rem auto;
}
.cardRight{
  flex: 1 1 50%;
  border-left: .2rem solid white;
}
.cardRight h4{
  flex: .5 .5 auto;
}
.cardRight span{
  text-align: start;
  font-size: 2rem;
  font-family: "Roboto",sans-serif;
  padding: .5rem 2rem;
  color: white;
  background-color: rgb(34, 34, 34)

}
.cardRight p{
  flex: 1 1 50%;
  padding: 2rem;
  color: white;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  text-shadow: .2rem .2rem 1rem black;
  background-color: rgb(34, 34, 34);
}
.githubBtn{
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  background-color: rgb(34, 34, 34);
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
  padding: .5rem 1rem;
  border: 2px solid white;
  border-radius: .5rem;
}
.githubBtn:hover{
  background-color:white;
  color: rgb(34,34,34);
}
.githubBtn:active{
  animation: moveDown .05s;
}
@keyframes moveUp{
  0%{
    transform: translateY(0);
  }

  100%{
    transform: translateY(-1rem);
  }
}
@keyframes moveDown{
  0%{
    transform: translateY(0);
  }

  100%{
    transform: translateY(.2rem);
  }
}
@media screen and (max-width: 250px){
  .card{
    padding: 0px;
    
  }
  .cardBody{
    display: none;
  }
}

@media screen and (min-width: 720px){
  .card{
    opacity: .8;
    
  }
  .card:hover{
    animation: moveUp .5s forwards;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    opacity: 1;
  }
}
.projects {
  margin: 2rem;
}


@media screen and (max-width: 576px) {
  .projects{
    margin: 2rem 0rem;
  }
  .projectItem{
    flex-direction: column-reverse;
    margin: 2rem auto;
    width: 80%;
  }
  .cardRight{
    border-left: none;
    border-bottom: .2rem solid white;
  }
  .cardLeft{
    background-color: rgb(34, 34, 34);
  }
}
@media screen and (max-width: 375px){
  .projects{
    margin: 2rem .5rem;
  }
  .projectItem{
    width: 100%;
  }
}
