.card{
  opacity: 1;
  box-shadow: 0 .4rem 1rem 0 rgba(0, 0, 0, 0.2), 0 .6rem 2rem 0 rgba(0, 0, 0, 1);
  margin-top: 2rem;
}
.cardBody{
  font-size: 1.4rem
}
.cardFooter{
  position: relative;
}
.typeIcon{
  margin-left: auto;
}
.projectItem{
  width: 50%;
  margin-bottom: 2rem;
  border-radius:.5rem;
  opacity: .8;
  transition: .5s;
  padding: 1rem;
  border: .5rem solid transparent;
}
.projectItem:hover{
  opacity: 1;
  transform:translateX(25%);
  border: .5rem solid white;
}
.cardHeader{
  display: inline-block;
  text-align: start;
  padding: 1.3rem 2rem;
  color: white;
  background-color: rgba(34,34,34, .9);
  border-bottom: .2rem solid white;
  
}
.cardHeader h4{
  padding: .5rem 1rem;
  display:inline-block;
  font-family: "Roboto",sans-serif;
  font-size: 3rem;
  text-decoration: underline;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cardHeader h4:hover{
  color: rgb(48, 43, 43);
  cursor: pointer;
  background-color: white;
  transform: scale(1.1);
  transition: .7s;
  box-shadow: 5px 5px 10px black;
}

.cardRight p{
  flex: 1 1 50%;
  padding: 2rem;
  color: white;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  text-shadow: .2rem .2rem .5rem black;
  background-color: rgba(34,34,34, .9);
  text-align: left;
}
@media screen and (max-width: 250px){
  .card{
    padding: 0px;
    
  }
  .cardBody{
    display: none;
  }
}

@media screen and (min-width: 720px){
  .card{
    opacity: .8;
    
  }
  .card:hover{
    animation: moveUp .5s forwards;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    opacity: 1;
  }
}
.projects {
  margin: 2rem;
}


@media screen and (max-width: 576px) {
  .projects{
    margin: 2rem 0rem;
  }
  .projectItem{
    flex-direction: column-reverse;
    margin: 2rem auto;
    width: 80%;
  }
  .cardRight{
    border-left: none;
  }
}
@media screen and (max-width: 375px){
  .projects{
    margin: 2rem .5rem;
  }
  .projectItem{
    width: 100%;
  }
}
