.mediaIcon{
  box-shadow: 0 .4rem .8rem 0 rgba(56, 36, 36, 0.5), 0 .6rem .20rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 10rem;
  margin-right: 1rem;
}
.mediaIcon:hover{
  opacity: .8;
  animation: scaleLarger .2s forwards;
}

.socialIcons{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  align-self: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.listItem{
  display: inline-block;
  margin: .5rem;
}

@keyframes scaleLarger{
  0%{
    transform: scale(1.0);
  }
  100%{
    transform: scale(1.2);
   }
}