.header{
  font-family: 'Roboto', sans-serif;
  font-size: 8rem;
  color: white;
  text-shadow: .5rem .5rem 1rem black;
  animation: moveInTop 1s;
}

.portrait{
  width: 25%;
  border-radius: 200rem;
  box-shadow: 0rem .5rem 2rem rgb(0, 0, 0);
  margin-bottom: 5rem;
  animation: fadeIn 1.5s ease-in;
}

.description{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  margin: 0 10% 5rem 10%;
  color: white;
  font-weight: 300;
  animation: fadeIn 1.5s;
  animation: moveInBottom 1s;
  text-align: center;
}
.about{
  align-items: center;
  position: relative;
  border-bottom: solid white;
}
.about::after{
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../images/bg.jpg');
  background-position-x: right;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: .9;
}