.nav-bar {
  list-style-type: none;
  padding: 2rem;
  margin: 0px;
  margin-left: auto;
}
ul li.nav-bar-item{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: inline-block;
  padding: 0rem .5rem;
  margin: 0px;
  border-bottom: 2px solid transparent;
}
ul li.nav-bar-item:hover{
  border-bottom: 2px solid white
}
.header__link {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
}

.header__link:hover{
  text-decoration: none;
  color: white;
}