ul {
  list-style-type: none;
  margin: 2rem;
  padding: 0px;
  float: right;
  border: 2px solid white;
  border-radius: 100rem;
}
li {
  display: inline-block;
  margin: 2rem;
  border-right: 1px solid white;
  box-sizing: border-box;
}
.header__link {
  font-size: 2rem;
  color: #fff;
}

.header__link:hover{
  text-decoration: none;
  color: lightgrey;
}