.nav-bar {
  list-style-type: none;
  margin: 2rem;
  padding: 0px;
  float: right;
}
ul li.nav-bar-item{
  display: inline-block;
  padding: 2rem;
  margin: 0px;
}
ul li.nav-bar-item:not(:last-child){
  border-right: 2px solid white
}
.header__link {
  font-size: 2rem;
  color: #fff;
}

.header__link:hover{
  text-decoration: none;
  color: lightgrey;
}