
.cardFooter{
  position: relative;
}
.projectItem{
  width: 50%;
  margin-bottom: 2rem;
  border-radius:.5rem;
  padding: 1rem;
}
.card{
  opacity: .8;
  border: .5rem solid transparent;
  transition: .5s;
}
.cardHeader{
  display: inline-block;
  text-align: start;
  padding: 1.3rem 2rem;
  color: white;
  background-color: rgba(34,34,34, .9);
  border-bottom: .2rem solid white;
}
.cardHeader a{
  text-decoration: none;
  color: white;
  padding: .5rem 1rem;
  display:inline-block;
  font-family: "Roboto",sans-serif;
  font-size: 3rem;
  text-decoration: underline;
  letter-spacing: 2px;
  text-transform: uppercase;
}
  
.cardHeader a:hover{
  color: rgb(48, 43, 43);
  cursor: pointer;
  background-color: white;
  transform: scale(1.1);
  transition: .7s;
  box-shadow: 5px 5px 10px black;
}
.card p{
  flex: 1 1 50%;
  padding: 2rem;
  color: white;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  text-shadow: .2rem .2rem .5rem black;
  background-color: rgba(34,34,34, .9);
  text-align: left;
}

@media screen and (hover), (min-width: 577px){
  .projectItem:hover .card{
    opacity: 1;
    transform:translateX(15%);
    border: .5rem solid white;
    box-shadow: .5rem .5rem 1rem black;
  }
}
@media screen and (max-width: 750px){
  .projectItem{
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .projectItem{
    flex-direction: column-reverse;
    margin: 2rem auto;
    width: 100%;
  }
  .card{
    border-left: none;
  }
}
@media screen and (max-width: 375px){
  .projectItem{
    width: 100%;
  }
}
