.carouselContainer{
  position: relative;
  align-self: center;
}
.carousel{
  width:100%;
  overflow: hidden;
  scroll-behavior: smooth;
}
.landing{
  padding: 5rem;
  background-color:rgb(48, 45, 45, 0.9);
}
.landing h4{
  font-size: 3.5rem;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow: 0rem 1rem 2rem black;
  margin-bottom: 3rem;

}
.description{
  white-space: normal;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 0rem 1rem 2rem black;
}
.carouselItem{
  height: 100%;
  flex: 0 0 100%;
  margin-bottom: 5%;
  transition: none;
}
.carouselItem img{
  max-height: 100%;
  max-width: 100%;
  width: auto;
  transition: 1s;
}
.navigation{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.leftNav{
  margin-right: auto;
  margin-left: 2rem;
  border-width: 0rem 0rem .5vw .5vw;
}
.nav{
  display:inline-block;
  border-color:rgba(41, 41, 41, 0.8);
  border-style: solid;
  transform: rotate(45deg);
  height: 2rem;
  width: 2rem;
}
.rightNav{
  margin-left: auto;
  margin-right: 2rem;
  border-width: .5vw .5vw 0rem 0rem;
}
.nav:hover, .nav:hover{
  border-color:black;
}

.legend{
  position: absolute;
  bottom: 3%;
  left: 0%;
  width: 100%;
  justify-content: center;
}
.legendButton{
  width: 3rem;
  border: 2px solid rgba(41, 41, 41, 0.8);
  border-radius: 10rem;
  margin: .5rem 0rem;
  box-shadow: .2rem .2rem 1rem grey;
  transition: .5s;
}
 .activeSlide, .legendButton:hover{
  transform:scale(1.1);
  border-color: rgb(0,0,0);
  box-shadow: .5rem .5rem 1rem black;
}
.legendButton:not(:last-child){
  margin-right: 5px;
}
@media screen and (max-width: 560px){
  .landing h4{
    font-size: 3.5rem;
  }
  .description{
    font-size: 1.5rem;
  }
}