*,
*::before,
*::after{
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
}
body {
  background-image: url(dark-sky.jpg); 
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100vh;
  box-sizing: border-box;
  min-width: 320px;
}

.App{
  position: relative;
}

.row{
  margin: auto;
}

.footer{
  margin: 2rem 0rem;
}