body {
  background-image: url(dark-sky.jpg); 
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.App{
  position: relative;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px 0px 3px 0;
}
.row{
  margin-right: 0px
}